@charset "UTF-8";


body{ 
	margin:0; 
	
	font-family:'맑은 고딕', verdana;
    padding:80px;
}

 .top{
 	width: 100%;
 	margin-bottom: 40px;
  	display:block;
 }

.table_option{
	
	float: left;
	margin-bottom: 0px;
	margin-left: 10px;
	
}


.btn {
	float:right;

 }

section> #container { 
	padding:20px 0; 
	border-top:2px solid #eee; 
	border-bottom:2px solid #eee;
	
	margin-left: auto;
	margin-right: auto;
	
	 }
 
 aside { 
 	float:left; 
 	width:200px; 
 	}

 div#container_box { 
 	float:right; 
 	width:calc(100% - 200px - 20px); 
 
 	}
 	
 
 aside>ul>li { 
	 text-align:center; 
	 margin-bottom:10px; 
	
	 }
	 

li { 
		
		font-size:20px; 
		text-align:center; 
		padding:15px;
		
		
		
		}
		
#category { font-size:30px; 
 	 		margin-bottom:20px; 
 	  		text-align:center; 
 	  		width: 20%;}

li a { 
		color:#000; 
		display:block; 
		padding:10px 0; 
		text-decoration: none;
		}

li a:hover { 
		text-decoration:none; 
		background:#eee; 
		}
		
.table_list{


	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
	
}
.table_list th {
	font-size:  20px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border-bottom: 2px solid #666;
	
}


.table_list tbody td{
	
	text-align:center;
	font-size: 12px;
	border-bottom: 1px solid #e4e4e4;
	
}


.table_list tbody td a  {
	
	text-align:left;
	font-size: 12px;
	height: 33px;
	text-decoration: none;
	color: black;
	
}

.table_list tbody td a:hover  {
	
	text-decoration: underline;
	
}

.table_list tbody td img  {
	
	width: 100px;
	
}


#title{

	padding-bottom: 70px;
	text-align: center;
	margin: auto;
	font-size: 80px;
}


.page_wrap {
	padding-top: 100px;
	text-align:center;
	font-size:0;
 }
 

.page_nation {
	display:inline-block;
}
.page_nation .none {
	display:none;
}
.page_nation a {
	display:block;
	margin:0 3px;
	float:left;
	border:1px solid #e6e6e6;
	width:28px;
	height:28px;
	line-height:28px;
	text-align:center;
	background-color:#fff;
	font-size:13px;
	color:#999999;
	text-decoration:none;
}


.page_nation {
	border:1px solid #ccc;
}
.page_nation .first {
	background:#f8f8f8 url('images/page_pprev.png') no-repeat center center;
	margin-left:0;
}
.page_nation .prev {
	background:#f8f8f8 url('images/page_prev.png') no-repeat center center;
	margin-right:7px;
}
.page_nation .next {
	background:#f8f8f8 url('images/page_next.png') no-repeat center center;
	margin-left:7px;
}
.page_nation .last {
	background:#f8f8f8 url('images/page_nnext.png') no-repeat center center;
	margin-right:0;
}
.page_nation a:hover, 
.page_nation a.active {
	background-color:#42454c;
	color:#fff;
	border:1px solid #42454c;
}









