@charset "UTF-8";


* {
	font-family: 'Noto Sans KR', sans-serif;
/* 	list-style: none; */
	text-decoration: none;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	color: #000;
	
}


.wrap2{
	
	text-align: center;
	margin-bottom: 80px;
	margin-left: 20px;
}


.intro_text2 {
	margin-bottom: 40px;
	margin-top:500px;
	
}

.intro_text2 h1 {
  font-size:50px; 
  font-weight:700;  
  width:100%; 
  text-align:center; 
  margin:auto; 
  padding-bottom:13px;
}


.intro_text2>h3>a{
	
	float: right;
	margin-right: 100px;
	color: black;
	font-size: 20d/*  */px;
	
	}

.intro_bg2 h2 {
	
	font-weight: lighter;
	color: #636363;
	font-size: 20px;
	
	
	}
	
	
.row{
	
	width: 100%;
	text-align: center;
	margin-top: 150px;

	
	
}

.card{
	
	margin: auto;
	text-align: center;
	border-radius: 15px;
	border-color: white;
	
}

.card>.big{
	
	border-radius: 15px;
	height: 470px;
	margin-bottom: 10px;
}

.card-title{
	font-weight: bold;
	color: black;
	margin-bottom: 15px;
}

.small{
	margin-top:15px;
	margin:auto;
	border-radius: 70%;
    overflow: hidden;
    width: 100px;
    margin-bottom: 15px;
}

.profile{
	color: black;
	font-size: 20px;
	text-decoration: none;
}


